
.Header {
  height: 60px;
  margin-left: 260px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 38px;
}

.LeftSide {
  margin: -18px;
}

.Title {
  font-size: 25px;
  font-weight: 200;
}
