
.Header {
  min-height: 60px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #E5E5E5;
}

.Title {
  font-size: 25px;
  font-weight: 200;
}

.HeaderButton, .SelectBox, .DropDown {
  background-color: transparent;
  border: 1px solid transparent;
}

.HeaderButton:hover, .SelectBox:hover, .DropDown:hover {
  color: #1DC7EA;
  Border: 1px solid #1DC7EA;
}

.HeaderButton {
  margin: -18px;
}