.ChartWeapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.TextWrapper {
  pointer-events: none;
  position: absolute;
}

.Text {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto";
}
